/*font-family:
font-size:
font-weight: normal or bold
font-style: italic or normal
text-decoration: underline or none or overline or line-through
tex-align: center
*/

body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: "Raleway";
  color: #0D2C40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

a {
  font-family: "Raleway";
  color: #F15B31;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

p {
  font-family: "Droid Serif";
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #F15B31;
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3;
  padding: 20px;
}

nav > a {
  margin: 20px
}

main {
  width: 850px;
  margin: 35px auto;
}

img {
  margin: 40px 8px;
}
